<div class="card">
    <div class="card-header">
        Bem vindo!
    </div>
    <div class="card-body">
        Tenha uma visualização pratica e simples de todas as informaçoes sobre fiscalizações.
    </div>
</div>

<div> <!--class="card"-->
    <div><!--class="card-header"-->
        <!--teste barras-->
    </div>
    <div><!--class="card-body"-->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 caixa">
                    <div class="progress blue">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">90</div>
                    </div>
                    <div class="titulob">Vistoriados</div>
                </div>
                <div class="col-md-3 col-sm-6 caixa">
                    <div class="progress yellow">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">75</div>
                    </div>
                    <div class="titulob">A vistoriar</div>
                </div>
                <div class="col-md-3 col-sm-6 caixa">
                    <div class="progress pink">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">60</div>
                    </div>
                    <div class="titulob">Previsto</div>
                </div>
            </div>
        </div>
    </div>
</div>