<!DOCTYPE html>
<html>

<body>

    <div class="corpo">
        <form class="login" [formGroup]="loginForm">

            <p class="title">Login</p>
            <input type="text" placeholder="Usuário" autofocus required="required" formControlName="login" />
            <i></i>
            <input type="password" placeholder="Senha" required="required" formControlName="senha" />
            <i></i>
            <a href="">Forgot your password?</a>
            <button>
                <span (click)="fazerLogin()">Log in</span>
            </button>
        </form>
        <footer>Copyright © 2022 VTS - Todos os direitos reservados</footer>
    </div>

</body>

</html>