<div class="card">
    <div class="card-header">
        <h5>Cadastro dos usuarios</h5>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate [formGroup]="formuser">
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" formControlName="login"
                        [ngClass]="{ 'is-invalid': submitted && hasError('login')}" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="senha">senha</label>
                    <input type="password" class="form-control" id="senha" formControlName="senha"
                        [ngClass]="{ 'is-invalid': submitted && hasError('senha')}" />
                </div>
            <div class="col-md-3 mb-3">
                <label for="roles">Tipo</label>
                <select class="form-control" id="roles" formControlName="roles"
                    [ngClass]="{ 'is-invalid': submitted && hasError('roles')}">
                    <option value=""></option>
                    <option value="Usuario">Usuario</option>
                    <option value="Administrador">Administrador</option>
                </select>
            </div>
        </div>
            <div>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
                <button type="button" class="btn btn-defaut" (click)="onCancel()">Cancelar</button>
            </div>
        </form>
    </div>
</div>