<div class="card">
    <div class="card-header">
        <div class="float-left">Hístorico</div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Estabelecimento</th>
                    <th>Motivo</th>
                    <th>Valor</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let multa of multas"></tr>-->
                <tr></tr><!--{{ multa.razaoSocial }}-->
                <tr></tr><!--{{ multa.motivo }}-->
                <tr></tr><!--{{ multa.valor }}-->
                <tr></tr><!--{{ multa.statusMulta }}-->
            </tbody>

        </table>
    </div>
</div>